---
import Layout from "@lara/layouts/Layout.astro";


---

<Layout title="Página no encontrada | Lara González" description="Página no encontrada">
    <section class="error-404__wrapper">
        <p class="error-404__desc">Oh! Algo ha fallado.</p>
        <a class="error-404__link" href="/">Volver</a>
    </section>  
</Layout>
<style lang="scss">
	@use "dawuti" as *;

</style>