---
import Heading from "@lara/components/heading/Heading";
import WrapperHeader from "@lara/components/wrapper/HeaderWrapper";
import Layout from "@lara/layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import "../layouts/Legal.scss";
const legal = await getCollection('legal');
const { title } = legal[0].data; 
const { Content } = await render(legal[0])

---

<Layout title="Aviso Legal | Lara González Estudio" description="Aviso Legal">
  <section class="legal-page">
    <WrapperHeader client:load />
    <Heading tag="h1" size="xxl" className="wrapper-fluid">{title}</Heading>
    <div class="legal-content wrapper-fluid">
      <Content></Content>
    </div>
  </section>
</Layout>
