---
import Heading from '@lara/components/heading/Heading';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import Form from '@lara/components/Form/Form';
import WrapperHeader from '@lara/components/wrapper/HeaderWrapper';

const contact = await getCollection('contacto');
const { title, description } = contact[0].data; 

---

<Layout title="Contacto | Lara Gonzalez Estudio" description="Hablando se entiende la gente, y aquí estoy para escucharte. Cuéntame tu proyecto, tus ideas o cualquier consulta, y hagámoslo realidad juntos.">
	<WrapperHeader client:load />
	<article class="contact wrapper-fluid">
		<div class="contact__heading">
			<Heading tag="h1" size="xxl">
				{title}
			</Heading>
		</div>
		<div class="grid">
			<p class="contact__description">{description}</p>
			<div class="contact__form">
				<Form client:load />
			</div>
		</div>
	</article>
</Layout>

<style lang="scss">
	@use "dawuti" as *;
	.contact {
		@include mq-sm {
			margin-top: calc(var(--s) * 7);
		}
		@include mq-md {
			margin-bottom: calc(var(--s) * 7);
		}
		@include mq-lg {
			margin-top: calc(var(--s) * 13);
			margin-bottom: calc(var(--s) * 13);
		}
		&__heading {
			padding-bottom: var(--s8);
			@include mq-sm {
				padding-bottom: calc(var(--s2)*8);
			}
			@include mq-md{
				padding-bottom: calc(var(--s2)*11.5);
			}

			:global(.heading) {
				@include f('hero-title', 400, true);
			}
		}
		
		&__description {
			margin-bottom: calc(var(--s) * 11);
			grid-column: 1/7;
			@include f('md', 400, true);
			line-height: 1.25;
			@include mq-xs {
				grid-column: 1/6;
				padding-top: calc(var(--s)* 2);
			}
			@include mq-sm {
				grid-column: 1/12;
				@include f('base', 400, true);
				line-height: 1.25;
			}
			@include mq-md {
				grid-column: 1/11;
			}
			@include mq-lg {
				grid-column: 1/8;

			}
		}

		&__form {
			grid-column: 1/7;
			@include mq-sm {
				grid-column: 13/24;
			}
			@include mq-md {
				grid-column: 12/24;
			}
		}
	}
</style>
