---
import Heading from '@lara/components/Heading/Heading';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import Form from '@lara/components/Form/Form';

const contact = await getCollection('contacto');

---

<Layout title="Contacto | Lara González" description="">
		{		
			contact.map(contact => {
				const { data } = contact
				const { title, description } = data

				return (
					<Heading tag="h1" size="xxl">
						{title}
					</Heading>
					<article class="contact grid">
						<div class="contact__description">{description}</div>
						<div class="contact__form">
							<Form client:load />
						</div>
					</article>
				)
			})
		}
</Layout>

<style lang="scss">
	@use "dawuti" as *;
	.contact{
		&__description{
			grid-column: 1/7;
			@include mq-md{
				grid-column: 1/8;
			}
		}

		&__form{
			grid-column: 1/7;
			@include mq-md{
				grid-column: 12/24;
			}
		}
	}
</style>
