---

import Heading from "@lara/components/Heading/Heading";
import Layout from "@lara/layouts/Layout.astro";

---

<Layout
  title="Política privacidad | Lara González"
  description="Política privacidad"
>
  <section class="legal-section">
    <Heading tag="h1" size="lg">
      Política de Cookies
    </Heading>
    <div class="legal-section__content">
      <script
        id="CookieDeclaration"
        src="https://consent.cookiebot.com/abea38ee-2291-449e-bbf1-9244c1746bcb/cd.js"
        type="text/javascript"
        async></script>
    </div>
  </section>
</Layout>
