---
import Heading from "@lara/components/heading/Heading";
import Layout from "@lara/layouts/Layout.astro";
import { getCollection, render } from "astro:content";

const cookies = await getCollection('cookies');
//console.log(cookies)

const { title } = cookies[0].data; 
const { Content } = await render(cookies[0])

---

<Layout
  title="Política de cookies | Lara González"
  description=""
>
  <section>
    <Heading tag="h1" size="lg">
      {title}
    </Heading>
    <Content></Content>
  </section>
</Layout>
