---
import Heading from "@lara/components/heading/Heading";
import WrapperHeader from "@lara/components/wrapper/HeaderWrapper";
import Layout from "@lara/layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import "../layouts/Legal.scss";

const privacy = await getCollection('privacidad');

const { title } = privacy[0].data; 
const { Content } = await render(privacy[0])
---

<Layout
  title="Política de privacidad | Lara González estudio"
  description="Política de privacidad"
>
  <section class="legal-page">
    <WrapperHeader client:load />
    <div class="wrapper-fluid">
      <Heading tag="h1" size="lg">
        {title}
      </Heading>
    </div>
    <div class="legal-content wrapper-fluid">
      <Content />
    </div>
  </section>
</Layout>