---
import Heading from "@lara/components/heading/Heading";
import WrapperHeader from "@lara/components/wrapper/HeaderWrapper";
import Layout from "@lara/layouts/Layout.astro";
import { getCollection, render } from "astro:content";

const cookies = await getCollection('cookies');
//console.log(cookies)

const { title } = cookies[0].data; 
const { Content } = await render(cookies[0])

---

<Layout
  title="Política de cookies | Lara González"
  description=""
>
  <WrapperHeader client:load />
  <section class="wrapper-fluid">
    <Heading tag="h1" size="lg">
      {title}
    </Heading>
    <div class="legal-content">
      <Content />
    </div>
  </section>
</Layout>

<style lang="scss">
	@use "dawuti" as *;
  .legal-content {
    :global(h2) {
      @include f('sec-md', 400, true);
    }
    :global(strong){
      font-weight: 700;
    }
  }
</style>
