---
import Heading from '@lara/components/heading/Heading';
import ProjectItem from '@lara/components/project/ProjectItem';
import BackToTopButton from '@lara/components/scroll-top/ScrollTopButton';
import WrapperHeader from '@lara/components/wrapper/HeaderWrapper';
import Layout from '@lara/layouts/Layout.astro';
import { getCollection } from 'astro:content';

const proyectos = await getCollection('proyectos');
const { title, anchors, projectitem } = proyectos[0].data; 

---

<Layout title="Proyectos | Lara González estudio" description="Descubre los proyectos donde el branding y el diseño gráfico se unen para crear identidades visuales únicas, estratégicas y memorables.">
	<WrapperHeader client:load />
	<section class="projects wrapper-fluid">
		<div class="projects__heading">
			<Heading tag="h1">{title}</Heading>
		</div>
		<div class="projects__list">
			{anchors.map((anchor) => (
			<a
				class="button button--link"
				href={`#${anchor.toLowerCase().replace(/\s+/g, "-")}`}
				data-anchor={anchor.normalize("NFD").replace(/[\u0300-\u036f]/g, "").toLowerCase().replace(/\s+/g, "-")}
			>
				{anchor}
			</a>
			))}
		</div>
		<ProjectItem projectitem={projectitem} client:load />
	</section>
	<BackToTopButton client:load />
</Layout>

<script>
 	import Lenis from 'lenis';

	declare global {
	interface Window {
		scrollInstance: Lenis;
	}
	}

	// const lenis = new Lenis({ infinite: false, duration: 1.8 });
	// window.scrollInstance = lenis;

    document.addEventListener("DOMContentLoaded", () => {

	const lenis = new Lenis({
        duration: 1.8
      });

      function raf(time: number) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }
      requestAnimationFrame(raf);

      document.querySelectorAll(".button--link[data-anchor]").forEach(link => {
        link.addEventListener("click", (event) => {
          event.preventDefault();
          const targetId = link.getAttribute("data-anchor") as string;
          const targetElement = document.getElementById(targetId);

          if (targetElement) {
			lenis.scrollTo(targetElement, {
              duration: 1.5,
              offset: -50, 
              easing: (t) => 1 - Math.pow(1 - t, 4)
            });          
		}
        });
      });
    });
</script>

<style lang="scss">
@use "dawuti" as *;

.projects {
	@include mq-sm {
		margin-top: calc(var(--s) * 7);
	}
	@include mq-lg {
		margin-top: calc(var(--s) * 14);
		margin-bottom: var(--s5);
	}
	&__heading {
		display: flex;
		:global(.heading) {
			@include f('hero-title', 400, true);
			margin-left: calc(var(--s) * -1);
			@include mq-xs {
				margin-left: calc(var(--s) * -1.5);
			}
			@include mq-sm {
				margin-left: calc(var(--s) * -1.7);
			}
			@include mq-md {
				margin-left: calc(var(--s) * -2.3);
			}
			@include mq-lg {
				margin-left: calc(var(--s) * -3.5);
			}
		}
	}

	:global(.projects__header) {
		margin-top: calc(var(--s) * 3);
		margin-bottom: calc(var(--s) * 1.5);
		@include mq-sm {
			margin-bottom: calc(var(--s) * 3);
		}
		@include mq-md {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;
			justify-content: space-between;
			padding-right: calc(size-by-cols(1, 24) + 10px);
			margin-bottom: calc(var(--s) * 4.5);
			gap: var(--s4);
		}
		:global(.heading) {
			margin-bottom: calc(var(--s) * 1.5);
			@include mq-sm {
				margin-bottom: var(--s3);
			}
			@include mq-md {
				margin-bottom: 0;
			}
		}
	}

	&__list{
	margin: var(--s8) 0 var(--s7);
	display: flex;
	flex-wrap: wrap;
	column-gap: var(--s5);
	row-gap: var(--s);
		@include mq-xs {
			padding-right: size-by-cols(3, 12);
		}
		@include mq-sm {
			display: flex;
			margin-bottom: var(--s10);
		}
		@include mq-md {
			margin: var(--s10) 0 0;
			padding-right: size-by-cols(5, 12);
		}
		@include mq-lg {
			padding-right: size-by-cols(7, 12);
		}

		a {
			cursor: pointer;
			min-width: max-content;
			@include f('sec-base', 400, true);
			color: var(--color-dark-grey);
			transition: color .25s ease-in-out;
			padding: 0;
			line-height: 1.4;
			@include mq-sm {
				flex: 0 1 calc(100% / 4);
			}
			@include mq-md {
				flex: 0 1 calc(100% / 4);
			}	
			@include mq-lg {
				flex: 0 1 size-by-cols(1.5, 5);
			}
			&:hover,
			&:focus-visible {
				color: var(--color-primary);
			}
		}
	}
}
</style>

