---

import AnchorHandler from '@lara/components/anchor/AnchorHandler';
import Heading from '@lara/components/heading/Heading';
import ProjectList from '@lara/components/project/ProjectList';
import WrapperHeader from '@lara/components/wrapper/HeaderWrapper';
import Layout from '@lara/layouts/Layout.astro';
import { getCollection } from 'astro:content';

const proyectos = await getCollection('proyectos');
const { title, anchors, projectsList } = proyectos[0].data; 

---

<Layout title="Proyectos | Lara González" description="">
	<WrapperHeader client:load />
	<section class="projects wrapper-fluid">
		<div class="projects__heading">
			<Heading tag="h1" size="xxl">
			{title}
			</Heading>
		</div>
		<div class="projects__list">
			{anchors.map((anchor) => (
			<a
				class="button button--link"
				href={`#${anchor.toLowerCase().replace(/\s+/g, "-")}`}
				data-anchor={anchor.toLowerCase().replace(/\s+/g, "-")}
			>
				{anchor}
			</a>
			))}
		</div>
		<AnchorHandler client:load />
		<ProjectList projectsList={projectsList} client:load />
	</section>
</Layout>

  <style lang="scss">
	@use "dawuti" as *;
  
	.projects {
		
	  &__heading {
		display: flex;
		gap: var(--s6);
		padding: var(--s10) 0;
	  }

	  &__list{
		display: flex;
		gap: var(--s8);

		a{
			@include f('sec-base', 400, true);
			color: var(--color-grey);
		}
	  }
	}
</style>

