@use 'dawuti' as *;

@include reset-all();
@include wrapper-fluid();
@include enhance-text();
//@include grid-helpers();
@include sr-only();

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:focus-visible {
      outline: 2px solid var(--color-tertiary);
      outline-offset: 2px;
  }
}

body,
html {
  font-family: var(--font-primary);
  font-size: var(--html-font-size);
  line-height: var(--lh-base);
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  color: var(--color-text);
}

html {
  scroll-behavior: smooth;
}

p,
b,
span,
li,
ul,
ol,
strong,
a,
h1,
h2,
h3,
h4,
h5,
h6,
input {
  text-rendering: optimizeLegibility;
  &::selection {
    background: var(--color-tertiary);
    color: var(--color-primary);
  }
}

button {
  padding: 0;
  margin: 0;
  border-width: 0;
  border-style: none;
  border-color: unset;
  border-image: none;
  font-family: var(--font-primary);
  background: transparent;
}

img {
  user-select: none;
}

a,
a:visited {
  text-decoration: none;
}

a {
  color: var(--color-text);
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

li {
  list-style: none;
}

strong, b {
  font-weight: 600;
}

em, i {
  text-decoration: underline;
}

main {
  overflow: hidden;
  position: relative;
  background-color: var(--color-light);
}

// ul, ol {
//   margin-block-start: 0;
//   margin-inline-start: 0;
//   padding-inline-start: 0px;
// }

.grid {
  display: grid;
  column-gap: var(--gutter);
  grid-template-columns: repeat(var(--cols), 1fr);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  >main {
    flex: 1;
    min-height: 100vh;
    @include mq-lg {
      min-height: unset;
    }
  }

  ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
  }
  
  li {
    list-style: none;
  }
}


// Cookie Yes

html {

  .cky-consent-container {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 9999999;
  }

  .cky-preference-body-wrapper {
    padding: 20px 24px 100px;
    @include mq-sm {
      padding: 20px 0;
    }
  }

  .cky-revisit-bottom-left {
    left: unset !important;
    bottom: var(--s3) !important;
    right: var(--s3) !important;
  }

  .cky-switch input[type="checkbox"]:checked {
    background: var(--color-secondary)!important;
  }

  .cky-consent-container {
    padding: var(--safe-area, 15px);
    @include mq-sm {
      padding: calc(var(--s) * 4);
    }
    .cky-consent-bar {
      box-shadow: none;
      @include mq-md {
        padding-bottom: calc(var(--s) * 5);
        margin-bottom: -1px;
      }
    }
  }
  .cky-btn {
    text-transform: uppercase;
  }
  .cky-notice-btn-wrapper .cky-btn,
  .cky-btn-accept,
  .cky-btn-preferences {
    border-radius: 120px;
    @include mq-sm {
      flex: 0;
      white-space: pre;
    }
  }
  .cky-notice-btn-wrapper {
    @include mq-xs {
      margin-top: calc(var(--s) * 3);
    }
    @include mq-sm {
      margin-top: 0;
      justify-content: flex-end;
    }
  }

  .cky-preference-content-wrapper p,
  .cky-accordion-header span {
    @include f('xs');
    @include mq-md {
      max-width: 70vw;
    }
  }

  .cky-preference-content-wrapper p {
    + p {
      margin-top: calc(var(--s) * 3)!important;
    }
  }

  .cky-show-desc-btn {
    margin-top: calc(var(--s) * 2);
  }

  .cky-notice-group {
    @include mq-xs {
      align-items: flex-end;
    }
  }
  .cky-btn-customize {
    margin-right: 0;
    @include mq-xs {
      margin-right: calc(var(--s) * 3);
    }
  }

  button.cky-show-desc-btn:not(:hover):not(:active) {
    color: var(--color-secondary);
  }

  .cky-accordion-header span {
    color: var(--color-secondary)!important;
  }

  .cky-preference-header {
    position: relative;

    .cky-preference-title {
      @include f('base');
      color: var(--color-secondary)!important;
    }
  }

  .cky-preference .cky-audit-table {
    background-color: #eeeeee!important;
    color: #474444!important;
    border-bottom-color: #d5d5d5;
    @include mq-sm {
      width: 60vw;
      padding: calc(var(--s) * 4);
    }

    .cky-cookie-des-table * {
      @include f('xxs');
    }
  }

  .cky-accordion-header-wrapper .cky-accordion-header-des p {
    @include f('xxs');
    @include mq-md {
      flex-basis: 60vw;
      max-width: 60vw;
    }
  }

  .cky-preference {
    max-height: 80vh;
    @include mq-xs {
      max-height: 16vw;
    }
    @include mq-sm {
      max-height: 20vw;
    }
  }

  .cky-footer-wrapper {
    width: calc(100vw - calc(var(--safe-area)* 2));
    @include mq-sm {
      width: inherit;
    }
  }
}
