@font-face {
    font-family: 'LaraGonzalez';
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
    src: url('/fonts/HelveticaNeueRoman.otf') format('otf'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('/fonts/HelveticaNeueRoman.otf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }