@use 'sass:math' as *;
@use 'dawuti' as *;
@use './mixins' as *;

$html-font-size-v: 16;
$sv: div(6, 16);

:root {
  --html-font-size-v: #{$html-font-size-v};
  --html-font-size: calc(var(--html-font-size-v) * 1px);

  --font-primary: 'LaraGonzalez', sans-serif;

  --sv: #{$sv};
  --s: calc(var(--sv) * 1rem);
  @for $i from 1 through 10 {
    --s#{$i}: #{$sv * $i}rem;
  }

  --safe-area: #{clamp-calc(12, 24)};

  --gap: #{clamp-calc(12, 20)};
  --gutter: calc(var(--gap) / 2);

  // Colors
  --color-primary: #597ed9;
  --color-primary-contrast: #000;
  --color-secondary: #eca650;
  --color-secondary-contrast: #000;
  --color-tertiary: #e64939;
  --color-tertiary-contrast: #000;

  --color-dark: #000;
  --color-light: #fff;

  --color-text: var(--color-dark);
  --color-text-contrast: var(--color-light);

// Grid cols
& {
  --safe-area: var(--s2);
  --gutter: var(--s2);
  --cols: 6;
  @include mq-sm {
    --cols: 24;
    --safe-area: var(--s3);
  }
}

// Font sizes
& {
  --fs-base-v: 16;
  --fs-base: #{rem-css-vars(--fs-base-v)};
  --lh-base: #{calc-lh(16, 19)};
}

& {
  --fs-md-v: 20;
  --fs-md: #{clamp-calc(20, 24)};
  --lh-md: #{calc-lh(20, 24)};
}

& {
  --fs-lg-v: 30;
  --fs-lg: #{clamp-calc(30, 40)};
  --lh-lg: 1.142;
}

& {
  --fs-xl-v: 46;
  --fs-xl: #{clamp-calc(46, 62)};
  --lh-xl: 1.13;
  @include mq-sm {
    --lh-xl: 1.06;
  }
}
& {
  --fs-xxl-v: 60;
  --fs-xxl: #{clamp-calc(60, 80)};
  --lh-xxl: 1.13;
  @include mq-sm {
    --fs-xxl-v: 60;
    --fs-xxl: #{clamp-calc(212, 80)};
    --lh-xxl: 1.13;
  }
}

// Specific fonts

& {
  --fs-marquee-v: 128;
  --fs-marquee: #{clamp-calc(128, 192)};
  --lh-marquee: #{calc-lh(128, 128)};
}

}