@use 'sass:math' as *;
@use 'dawuti' as *;
@use './mixins' as *;

$html-font-size-v: 18;
$sv: div(4, 20);

:root {
  --html-font-size-v: #{$html-font-size-v};
  --html-font-size: calc(var(--html-font-size-v) * 1px);

  --font-primary: Helvetica, Sans-Serif;
  --font-secondary: 'Behind', sans-serif;

  --sv: #{$sv};
  --s: calc(var(--sv) * 1rem);
  @for $i from 1 through 10 {
    --s#{$i}: #{$sv * $i}rem;
  }

  --safe-area: #{clamp-calc(12, 24)};

  --gap: #{clamp-calc(12, 20)};
  --gutter: calc(var(--gap) / 2);

  // Colors
  --color-primary: #000;
  --color-primary-contrast: #fff;
  --color-secondary: #FF0012;
  --color-secondary-contrast: #000;
  --color-tertiary: #3D82E5;
  --color-tertiary-contrast: #000;

  --color-dark: #000;
  --color-light: #fff;
  --color-grey: #808080;
  
  --color-error: var(--color-secondary); // TBD
  --color-error-bg: #FEE7E7; // TBD

  --color-success: #0DA137; // TBD 
  --color-success-bg: #D4FFDE; // TBD

  --color-text: var(--color-dark);
  --color-text-contrast: var(--color-light);

  // Grid cols
  & {
    --safe-area: var(--s2);
    --gutter: var(--s2);
    --cols: 6;
    @include mq-sm {
      --cols: 24;
      --safe-area: var(--s3);
    }
  }

  // PRIMARY
  & {
    --fs-base-v: 20;
    --fs-base: #{rem-css-vars(--fs-base-v)};
    --lh-base: #{calc-lh(20, 22)};
    --ls-base: -4%;
    @include mq-sm {
      --fs-base-v: 24;
      --fs-base: #{clamp-calc(24, 26)};
      --lh-base: #{calc-lh(24, 26)};
    }
  }

  & {
    --fs-xs-v: 16;
    --fs-xs: #{clamp-calc(16, 18)};
    --lh-xs: #{calc-lh(16, 18)};
  }

  & {
    --fs-sm-v: 20;
    --fs-sm: #{clamp-calc(20, 30)};
    --lh-sm: #{calc-lh(20, 33)};
  }

  & {
    --fs-md-v: 24;
    --fs-md: #{rem-css-vars(--fs-md-v)};
    --lh-md: #{calc-lh(24, 24)};
    --ls-md: -4%;
    @include mq-sm {
      --fs-md-v: 36;
      --fs-md: #{rem-css-vars(--fs-md-v)};
      --lh-md: #{calc-lh(36, 36)};
    }
  }

  & {
    --fs-lg-v: 36;
    --fs-lg: #{rem-css-vars(--fs-lg-v)};
    --lh-lg: #{calc-lh(36, 32)};
    --ls-lg: -6%;
    @include mq-sm {
      --fs-lg-v: 72;
      --fs-lg: #{rem-css-vars(--fs-lg-v)};
      --lh-lg: #{calc-lh(72, 60)};
    }
  }

  & {
    --fs-xl-v: 40;
    --fs-xl: #{rem-css-vars(--fs-xl-v)};
    --lh-xl: #{calc-lh(40, 40)};
    --ls-xl: -6%;
    @include mq-sm {
      --fs-lg-v: 64;
      --fs-lg: #{rem-css-vars(--fs-lg-v)};
      --lh-lg: #{calc-lh(64, 78)};
    }
  }

  & {
    --fs-xxl-v: 60;
    --fs-xxl: #{rem-css-vars(--fs-xxl-v)};
    --lh-xxl: #{calc-lh(60, 80)};
    --ls-base: -6%;
    @include mq-md {
      --fs-xxl-v: 215;
      --fs-xxl: #{rem-css-vars(--fs-xxl-v)};
      --lh-xxl: #{calc-lh(215, 172)};
    }
  }

  // SECONDARY
  & {
    --fs-sec-base-v: 20;
    --fs-sec-base: #{rem-css-vars(--fs-sec-base-v)};
    --lh-sec-base: #{calc-lh(20, 33)};
  }

  & {
    --fs-sec-md-v: 24;
    --fs-sec-md: #{rem-css-vars(--fs-sec-base-v)};
    --lh-sec-md: #{calc-lh(24, 28)};
  }

  // SPECIFIC FONTS
  // FORM
  & {
    --fs-input-v: 16;
    --fs-input: #{rem-css-vars(--fs-input-v)};
    --lh-input: #{calc-lh(16, 19)};
    --ls-input: 0;
  }
  // MENU ITEMS
  & {
    --fs-menu-v: 16;
    --fs-menu: #{rem-css-vars(--fs-menu-v)};
    --lh-menu: #{calc-lh(16, 16)};
  }
  // MARQUEE
  & {
    --fs-marquee-v: 52;
    --fs-marquee: #{clamp-calc(52, 104)};
    --lh-marquee: #{calc-lh(52, 41)};
    --ls-marquee: -7%;
  }
  // LINKS
  & {
    --fs-link-v: 16;
    --fs-link: #{rem-css-vars(--fs-link-v)};
    --lh-link: #{calc-lh(16, 16)};
    --ls-link: -2%;
  }

  & {
    --fs-link-md-v: 24;
    --fs-link-md: #{rem-css-vars(--fs-link-md-v)};
    --lh-link-md: #{calc-lh(24, 24)};
    --ls-link-md: -2%;
  }
}