@use "dawuti" as *;

.page__home {
    .hero {
        grid-template-rows: auto min-content;
        @include mq-xs {
            grid-template-columns: repeat(9, 1fr);
            grid-template-areas: 
            "title title title gallery gallery gallery gallery gallery gallery";
        }
        @include mq-sm {
            @media (orientation: landscape) {
                grid-template-areas: 
                "title title title title title gallery gallery gallery gallery";
            }
            @media (orientation: portrait) {
                grid-template-areas: 
                "title title title title gallery gallery gallery gallery gallery";
            }
        }
        @include mq-md {
            grid-template-rows: auto min-content;
            grid-template-columns: repeat(6, 1fr);
            grid-template-areas:
            ". . . gallery gallery gallery"
            "title title title gallery gallery gallery";
            
        }
        @include mq-lg {
            grid-template-columns: repeat(9, 1fr);
            grid-template-areas:
            ". . . . gallery gallery gallery gallery gallery"
            "title title title title gallery gallery gallery gallery gallery";
        }
    }
    .heading--primary {
        font-weight: 600;
    }
    .heading--secondary {
        @include f('hg', 400, true);
    }
    .hero__gallery {
        grid-template-rows: 14dvh 14dvh auto;
        align-content: center;
        justify-self: center;
        @media (orientation: landscape) {
        }

        @media (orientation: portrait) {
            max-width: 50dvh;
        }


        @include mq-xs {
            max-height: unset;
            @media (orientation: landscape) {
                grid-template-rows: 7dvh 22dvh auto;
            }
            @media (orientation: portrait) {
                grid-template-rows: 9dvh 8dvh auto;
            }
        }
        @include mq-sm {
            justify-self: flex-end;
            @media (orientation: landscape) {
                max-height: 46dvw;
                align-content: space-around;
                align-self: center;
                grid-template-rows: 3dvh 28dvh auto;
            }
            @media (orientation: portrait) {
                grid-template-rows: 8dvh 16dvh auto;
                max-width: calc(var(--s) * 90);
            }
        }
        @include mq-md {
            grid-template-rows: 13dvh 13dvh min-content;
            @media (orientation: landscape) {
                align-self: center;
            }
        }
        @include mq-lg {
            justify-self: flex-start;
            grid-template-rows: 4dvh 14dvh min-content;
        }
        @include mq-xl {
            grid-template-rows: 7dvh 20dvh min-content;
        }
        @include mq-xxl {
            grid-template-rows: 9dvh 26dvh min-content;
        }
    }

    .studio-gallery {
        object-position: right;
        @include mq-xl {
            object-position: center;
        }
        &-0 {
            grid-area: img0;
            grid-column: 1 / 9;
            @include mq-xs {
                grid-column: 5 / 10;
                @media (orientation: landscape) {
                    margin-top: calc(var(--s) * -6);
                }
            }
            @include mq-sm {
                grid-column: 2 / 9;
                @media (orientation: landscape) {
                }
            }
            @include mq-md {
                grid-column: 2 / 9;
            }
            @include mq-lg {
                grid-column: 3 / 9;
                max-height: 55vh;
                margin-left: calc(var(--s) * -6.5);
            }
            @include mq-xl {
                margin-left: 0;
                grid-column: 2 / 9;
            }
            @include mq-xxl {
                grid-column: 3 / 8;
                max-height: 64vh;
            }
        }
        &-1 {
            grid-area: img1;
            grid-column: 6 / 13;
            @include mq-xs {
                grid-column: 9 / 15;
            }

            @include mq-sm {
                grid-column: 7 / 13;
            }
            @include mq-md {
                grid-column: 7/ 12;
            }
            @include mq-lg {
                max-height: 43dvh;
                object-position: left;
            }
            @include mq-xxl {
                grid-column: 7 / 11;
                max-height: 51dvh;
            }
        }
        &-2 {
            grid-area: img2;
            grid-column: 3 / 8;
            @include mq-xs {
                grid-column: 7 / 10;
            }
           @include mq-sm {
                @media (orientation: landscape) {
                    grid-column: 5 / 9;
                }
                @media (orientation: portrait) {
                    grid-column: 5 / 10;
                }
            }
            @include mq-md {
                grid-column: 5 / 9;
            }
            @include mq-lg {
                object-position: left;
                grid-column: 4 / 8;
                max-height: 33vh;
            }
            @include mq-xl {
                grid-column: 5 / 8;
                max-height: 40vh;
            }
        }
    }
}

.page__estudio {
    .hero {
        grid-template-rows: 1fr min-content;

        @include mq-xs {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
            "title gallery";
            @media (orientation: portrait) {
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas: 
                "title gallery gallery";
            }
        }
        @include mq-sm {
            grid-template-areas: unset;
            @media (orientation: landscape) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (orientation: portrait) {
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas: 
                "title gallery gallery";
            }
        }
        @include mq-md {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
            ". gallery"
            "title title";
        }
            
        &__header {
            @include mq-sm {
                grid-row: 2 / -1;
                grid-column: 1/-1;
            }
            @include mq-lg {
                grid-row: 1 / -1;
            }
            @include mq-xl {
                grid-row: 1 / 2;
            }
        }


        .hero__gallery {
            align-content: center;
            grid-template-rows: 7dvh auto;
            column-gap: calc(var(--s) * 3);
            @include mq-xs {
                align-content: start;
                grid-template-rows: 3dvh min-content;
                margin-top: calc(var(--s) * -6);
            }
            @include mq-sm {
                display: flex;
                width: size-by-cols(24, 24);
                padding-right: size-by-cols(2, 24);
                margin-top: 0;
                height: min-content;
                grid-row: 1 / -1;
                grid-column: 2 / -1;
            }
            @include mq-lg {
                grid-row: 1 / 2;
            }
            @include mq-xl {
                padding-left: size-by-cols(4, 24);
            }
            @include mq-xxl {
                padding-left: size-by-cols(5, 24);
            }
        }


        .studio-gallery {
            @include mq-sm {
                width: unset;
                height: min-content;
                margin-top: calc(var(--s) * -5);
            }
            @include mq-md {
                margin-top: 0;
            }
            &-0 {
                grid-area: img0;
                grid-column: 1 / 5;
                @include mq-xs {
                    grid-column: 3 / 7;
                }
                @include mq-sm {
                    grid-column: unset;
                    width: size-by-cols(10, 24);
                }
            }
            &-1 {
                grid-area: img1;
                grid-column: 5 / 13;
                @include mq-xs {
                    grid-column: 7 / 13;
                }
                @include mq-sm {
                    grid-column: unset;
                    width: size-by-cols(14, 24);
                }
            }
        }
    }
}

.hero {
    padding-bottom: calc(var(--s) * 10);
    display: grid;
    grid-template-areas: 
    "gallery" 
    "title"; 
    grid-template-columns: 1fr;

    @media (orientation: landscape) {
        min-height: min-content;
    }
    @media (orientation: portrait) {
        min-height: calc(100dvh - var(--site-header));
    }

    @include mq-xs {
        max-height: unset;
        padding-bottom: calc(var(--s) * 8);

        @media (orientation: landscape) {
            min-height: calc(100dvh - var(--site-header));
        }
        @media (orientation: portrait) {
            min-height: calc(65dvh - var(--site-header));
        }
    }
    @include mq-sm {
        @media (orientation: landscape) {
            min-height: calc(100dvh - var(--site-header));
            padding-bottom: calc(var(--s) * 6);
        }
        @media (orientation: portrait) {
            min-height: calc(65dvh - var(--site-header));
        }
    }
    @include mq-md {
        padding-bottom: calc(var(--s) * 10);
    }

    @include mq-lg {
        padding-top: calc(var(--s)* 12);
        min-height: calc(100dvh - var(--site-header));
    }
    .heading--primary {
        letter-spacing: -.06em;
    }

    &__header {
        grid-area: title;
        grid-column: 1 / 12;
        z-index: 1;
        margin-top: calc(var(--s) * 9);
        align-content: end;
        align-self: flex-end;
    }   

    &__gallery {
        align-content: flex-start;
        grid-area: gallery;
        position: relative;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-areas: 
        "img0"
        "img1"
        "img2";
        grid-template-columns: repeat(12, 1fr);
    }

    .studio-gallery {
        object-fit: contain;
        width: 100%;
    }
}
