@use "dawuti" as *;

input:-webkit-autofill,
input:-internal-autofill-selected,
input:-webkit-autofill:focus  {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

input,
textarea {
    @include f('input', 400, true);
    font-family: var(--font-secondary);
    color: var(--color-primary);
    background-color: transparent;
    &::placeholder {
        @include f('input', 400, true);
        font-family: var(--font-secondary);
    }
}

input, textarea {
    &:focus, &:focus-visible {
        outline: none;
        background-color: var(--color-primary-contrast)!important;
    }
}

textarea {
    @include f('input-content', 400, true);
    font-family: var(--font-secondary);
}

.input {
    margin-top: calc(var(--s) * 4);
    & + .input {
        margin-top: calc(var(--s) * 2);

        @include mq-md {
            margin-top: calc(var(--s) * 4);
        }
    }
    & + .input--checkbox {
        margin-top: calc(var(--s) * 3);
        @include mq-md {
            margin-top: calc(var(--s) * 4);
        }
    }
    
    .input__label {
        display: none;
    }

    &__wrapper {
        margin-top: calc(var(--s) * 1);

        @include mq-sm() {
            margin-top: 0;
        }

        input {
            position: relative;
            width: 100%;
            border: none;
            border-bottom: 1px solid var(--color-primary);
            background-color: transparent;
            padding: calc(var(--s) * 1);
            &:focus,
            &:focus-visible {
                background:linear-gradient(to top,var(--color-primary) 1px,transparent 0);
            }
        }
    }

    &--text,
    &--phone,
    &--email {
        .input__label {
            display: block;
            margin-bottom: calc(var(--s) * 6);
        }
    }

    &--radio {
        border: none;
        padding: 0;

        @include mq-sm() {
            margin-top: calc(var(--s) * 7);
        }

        legend {
            margin-bottom: calc(var(--s) * 3);

            @include mq-sm() {
                margin-bottom: calc(var(--s) * 5);
            }
        }
        .input__wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(var(--s) * 2);

            @include mq-sm() {
                justify-content: center;
            }
        }
        .radio-input {
            padding-right: calc(var(--s) * 3);

            label {
                margin-left: calc(var(--s) * -2.4);
                position: relative;
                padding: 5px 0 5px 35px;
                display: block;
            }

            input {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                visibility: hidden;
                position: absolute;
                right: 0;
            }

            & input + i {
                margin-top: 9px;
                background: #f0f0f0;
                border: 1px solid #000;
                position: absolute;
                left: 0;
                top: 0;

                @include mq-sm() {
                    margin-top: 12px;
                }
            }

            & [type="radio"] + i {
                height: 12px;
                width: 12px;
                border-radius: 100%;
                left: 15px;
            }
        }

        label input[type="radio"] + i:before {
            content: "";
            display: block;
            inset: 2px;
            border-radius: 100%;
            position: absolute;
            z-index: 1;
            background: var(--color-dark);
            transition: all 0.25s ease;
            transform: scale(0);
            opacity: 0;
        }

        label input[type="radio"]:checked + i:before {
            transform: scale(1);
            opacity: 1;
        }
    }
    &--list {
        padding-bottom: calc(var(--s) * 8);
        display: flex;
        flex-flow: column nowrap;
        row-gap: calc(var(--s) * 6);

        @include mq-sm() {
            margin-top: calc(var(--s) * 7);
            padding-bottom: calc(var(--s) * 2);
            row-gap: calc(var(--s) * 8);
        }

        input {
            height: calc(var(--s) * 7);
            border: none;
            border-bottom: 1px solid #000;

            @include mq-sm() {
                margin: 0 auto;
                width: 80%;
            }
            @include mq-lg() {
                margin: 0 auto;
                width: 50%;
            }
        }
    }
    &--file {
        .input__label {
            margin-bottom: calc(var(--s) * 2);
        }

        p {
            padding-top: calc(var(--s) * 2);

            @include mq-sm() {
                padding-top: calc(var(--s) * 3);
            }
        }

        input {
            margin-top: calc(var(--s) * 5);
            height: calc(var(--s) * 7);
            width: 50%;
            border: 1px dashed var(--color-grey-300);
            border-radius: 20px;
            position: relative;
            display: inline-block;

            @include mq-sm() {
                width: 40%;
            }

            &::before {
                background-color: #fff;
                color: #000;
                display: flex;
                justify-content: center;
                align-items: center;
                content: "Selezionare il file";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }

            input[type="file"] {
                opacity: 0;
                width: 200px;
                height: 32px;
                display: inline-block;
            }
        }
    }
    &--textarea {
        @include mq-sm() {
            margin-top: calc(var(--s) * 7);
        }

        .input__label {
            margin-top: 10px;
        }

        .input__wrapper {
            margin-top: calc(var(--s) * 2);
            @include mq-md {
                margin-top: calc(var(--s) * 4);
            }

            textarea {
                position: relative;
                padding: calc(var(--s) * 1);
                width: 100%;
                height: calc(var(--s) * 30);
                border: transparent;
                border-bottom: 1px solid #000;
                background-color: transparent;
                @include mq-xs {
                    height: calc(var(--s) * 20); 
                }
                @include mq-md {
                    height: calc(var(--s) * 30);
                }   
                &:focus,
                &:focus-visible {
                background:linear-gradient(to top,var(--color-primary) 1px,transparent 0);
                }
            }
        }
    }
    
    &--checkbox {

        label {
            position: relative;
            padding: 5px 0 5px calc(var(--s) * 3);
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            @include mq-md {
                padding: 5px 0 5px calc(var(--s) * 4);
            }
            @include mq-lg {
                padding: 5px 0 5px calc(var(--s) * 6);
            }


            a {
                cursor: pointer;
                text-decoration: underline;
                color: var(--color-primary);
                transition: color .15s linear;
                &:hover, &:focus, &:focus-visible {
                    outline: 1px solid var(--color-grey-800);
                    color: var(--color-grey-800);
                }
            }

            input {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                position: absolute;
                left: 0;
                width: 0;
                height: 0;
                z-index: 30;
                top: 0;
                user-select: none;
                line-height: 0;
                padding: 0;
                margin: 0;
                z-index: -2;

                & + i {
                    margin-top: 7px;
                    border: 1px solid #000;
                    position: absolute;
                    left: 0;
                    top: 0;

                    @include mq-md {
                        margin-top: 3px;
                    }
                }
            }

            input[type="checkbox"] + i {
                width: calc(var(--s) * 2);
                height: calc(var(--s) * 2);
                @include mq-md {
                    width: calc(var(--s) * 3);
                    height: calc(var(--s) * 3);
                }
                @include mq-lg {
                    width: calc(var(--s) * 4);
                    height: calc(var(--s) * 4);
                }

                &:before {
                    content: "";
                    display: block;
                    inset: 2px;
                    position: absolute;
                    z-index: 1;
                    background: var(--color-dark);
                    transition: all 0.25s ease;
                    transform: scale(0);
                    opacity: 0;
                }
            }
        }
        label input[type="checkbox"]:checked + i:before,
        label input[type="checkbox"]:focus + i:before,
        label input[type="checkbox"]:focus-visible + i:before {
            transform: scale(1);
            opacity: 1;
        }
    }

    &--secondary {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        row-gap: 0;

        @include mq-sm() {
            margin-top: calc(var(--s) * 7);
        }

        .input__wrapper {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            row-gap: 0;

            @include mq-sm() {
                margin: 0 auto;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: var(--gutter);
            }
            @include mq-lg() {
                column-gap: calc(var(--gutter) * 2.5);
            }

            .radio-input {
                margin-bottom: 0;

                @include mq-sm() {
                    padding-right: 0;
                }

                label {
                    text-align: left;
                }
            }
        }
    }
}
