@use "dawuti" as *;

input:-webkit-autofill,
input:-internal-autofill-selected,
input:-webkit-autofill:focus  {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

input,
textarea {
    @include f('input', 300, true);
    font-family: var(--font-primary);
    color: var(--color-text);
    background-color: transparent;
    &::placeholder {
        @include f('input', 300, true);
        font-family: var(--font-primary);
    }
}

input, 
textarea {
    &:focus, &:focus-visible {
        outline: none;
        background-color: var(--color-text-contrast)!important;
    }
}

.input--text,
.input--email,
.input--phone {
    @include mq-md {
        display: inline-block;
        --gap: calc(var(--s) * 3.2);
        width: calc(100% / 2 - calc(var(--gap) / 2));
    }
}
.input--text:first-child,
.input--phone {
    @include mq-md {
        margin-right: var(--gap);
    }
}

.input:first-child,
.input:nth-child(2) {
    @include mq-md {
        margin-top: 0!important;
    }
}



.input {
    & + .input {
        margin-top: calc(var(--s) * 5);
        @include mq-md {
            margin-top: calc(var(--s) * 4);
        }
    }
    & + .input--checkbox {
        margin-top: calc(var(--s) * 6.5);
        @include mq-md {
            margin-top: calc(var(--s) * 4);
        }
    }

    &__error{
        @include f('detail', 400, true);
        margin-top: calc(var(--s) * 1);
        color: var(--color-error);
        position: absolute;
    }

    .input__label {
        display: none;
    }

    &__wrapper {
        margin-top: calc(var(--s) * 1);

        @include mq-sm() {
            margin-top: 0;
        }

        input {
            position: relative;
            width: 100%;
            border: none;
            border-bottom: 1px solid var(--color-text);
            background-color: transparent;
            padding: calc(var(--s) * 2.5) 0;
            &:focus,
            &:focus-visible {
                background:linear-gradient(to top,var(--color-text) 1px,transparent 0);
            }
        }
    }

    &--text,
    &--phone,
    &--email {
        .input__label {
            display: block;
            margin-bottom: calc(var(--s) * 6);
        }
    }

    &--textarea {
        @include mq-sm() {
            margin-top: calc(var(--s) * 7);
        }

        .input__label {
            margin-top: 10px;
        }

        .input__wrapper {
            margin-top: calc(var(--s) * 2);
            @include mq-md {
                margin-top: calc(var(--s) * 4);
            }

            textarea {
                position: relative;
                width: 100%;
                height: calc(var(--s) * 30);
                border: transparent;
                border-bottom: 1px solid var(--color-dark);
                background-color: transparent;
                padding: calc(var(--s)* 2.5) 0;
                @include mq-xs {
                    height: calc(var(--s) * 20); 
                }
                @include mq-md {
                    height: calc(var(--s) * 32);
                }   
                &:focus,
                &:focus-visible {
                background:linear-gradient(to top,var(--color-text) 1px,transparent 0);
                }
            }
        }
    }
    
    &--checkbox {

        label {
            position: relative;
            padding: var(--s) 0 var(--s) var(--s7);
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            @include mq-md {
                padding: var(--s) 0 var(--s) calc(var(--s) * 4);
            }
            @include mq-lg {
                padding: var(--s) 0 var(--s) calc(var(--s) * 7.5);
            }


            a {
                cursor: pointer;
                text-decoration: underline;
                color: var(--color-text);
                transition: color .15s linear;
                &:hover, &:focus, &:focus-visible {
                    outline: 1px solid var(--color-grey);
                    color: var(--color-grey);
                }
            }

            input {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                position: absolute;
                left: 0;
                width: 0;
                height: 0;
                z-index: 30;
                top: 0;
                user-select: none;
                line-height: 0;
                padding: 0;
                margin: 0;
                z-index: -2;

                & + i {
                    margin-top: calc(var(--s) * .2);
                    border: 1px solid var(--color-dark);
                    position: absolute;
                    left: 0;
                    top: 0;
                    border-radius: calc(var(--s) * .5);

                    @include mq-md {
                        margin-top: 3px;
                    }
                }
            }

            input[type="checkbox"] + i {
                width: var(--s5);
                height: var(--s5);
                border: 1px solid var(--color-dark);
                display: inline-block;
                position: absolute;
                left: 0;
                top: 0;
                transition: all 0.2s ease-in-out;
            }
            
            input[type="checkbox"]:checked + i {
                background: var(--color-light);
            }
            
            input[type="checkbox"]:checked + i::after {
                content: "";
                inset: calc(var(--s) * -1);
                background: var(--color-dark);
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-size: 14px;
            }
        }
        label input[type="checkbox"]:checked + i:before,
        label input[type="checkbox"]:focus + i:before,
        label input[type="checkbox"]:focus-visible + i:before {
            transform: scale(1);
            opacity: 1;
        }

        &-text {
            @include f('xs');
            text-wrap: auto;
        }
    }
}
