@use 'dawuti' as *;
@use '@lara/theme/mixins' as *;

.marquee {
  --gap: 5.5em;
  --animation: none;
  --animation-duration: 20s;
  --item-width: auto;
  overflow: hidden;
  max-width: 100%;
  border-top: 1px solid var(--color-dark);
  border-bottom: 1px solid var(--color-dark);
  &:hover{
    background-color: var(--color-dark);
    color: var(--color-light);
  }

  &--loaded {
    --animation: marquee-move var(--animation-duration) linear infinite;

    .marquee__item {
      width: calc(var(--item-width) * 1px);
    }
  }
  
  &__link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    @include f('marquee', 400, true);
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-shrink: 0;
    animation: var(--animation);
  }

  &__item {
    padding-right: var(--s5);
  }
}

@keyframes marquee-move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(var(--item-width) * -1px));
  }
}
