@use "dawuti" as *;

.side-menu {
    overflow: hidden;
    display: flex;
    transition: transform .5s cubic-bezier(0.91, 0, 0.34, 0.99) .05s;
    transform: translateX(100%);
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100dvh;
    z-index: 10;
    background-color: var(--color-text);
    color: var(--color-text-contrast);
    border: none;
    padding: calc(var(--s) * 4) var(--safe-area, 15px) calc(var(--s) * 13);
    @include mq-xs {
        padding-bottom: calc(var(--s) * calc(var(--s) * 7));
    }
    @include mq-lg {
        display: none; 
    }

    &--open {
        transform: translate(0dvw);
        @include mq-lg {
            display: none;
        }

        .header__logotype img {
            filter: none;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: calc(var(--s9) * 2);
        margin-bottom: 11dvh;
        @include mq-xs {
            @media (orientation: landscape) {
                margin-bottom: 9dvh;
            }
        }
    }

    &__email {
        grid-area: email;
        a {
            @include f('xxs', 400, true);
            color: var(--color-primary-contrast);
            @include mq-sm {
                @include f('base', 400, true);
            }
        }
    }

    &__social {
        grid-area: rrss;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: var(--s);
        column-gap: var(--s7);
        @include mq-xs {
            @media (orientation: landscape) {
                flex-direction: row;
            }
        }
        @include mq-sm {
            @media (orientation: landscape) {
                flex-direction: row;
            }
            @media (orientation: portrait) {
                flex-direction: column;
            }
        }
        @include mq-md {
            flex-direction: column;
        }

        .button--link .icon--arrow {
            --new-color: var(--color-primary-contrast);
        }
        span {
            @include f('sm', 300, true);
            letter-spacing: calc(var(--s) * -.1);
            font-family: var(--font-primary);
            color: var(--color-text-contrast);

        }
    }

    .button-side-menu-close {
        --width: var(--s5);
        --height: var(--s5);
        --color: var(--color-primary-contrast);
        align-self: flex-end;
        cursor: pointer;
    }

    .side-menu__nav {
        padding-bottom: 12.5vh;
        @include mq-xs {
            padding-bottom: 8.5vh;
        }

        li {
            text-align: center;

            &+li {
                margin-top: calc(var(--s) * 4);
                @include mq-md {
                    margin-top: calc(var(--s) * 7);
                }
            }
        }

        a {
            @include f('menu-mobile', 400, true);
            text-transform: uppercase;
            font-family: var(--font-primary);
            color: var(--color-text-contrast);
        }
    }

    .side-menu__bottom {
        text-align: center;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "btn"
        "email"
        "rrss" ;
        justify-items: center;
        align-items: center;
        justify-content: space-between;
        row-gap: calc(var(--s) * 9);
        @include mq-xs {
            @media (orientation: landscape) {
                align-items: start;
                row-gap: calc(var(--s) * 4);
            }
        }

        @include mq-md {
            padding-left: calc(var(--s) * 10);
            padding-right: calc(var(--s) * 10);
        }
        .button {
            grid-area: btn;
            text-transform: uppercase;
        }
    }
}