@use "dawuti" as *;

.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-height: 100dvh;
    transform: translateX(-20px);
    opacity: 0;
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), 
                opacity 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 10;
    background-color: var(--color-text);
    padding: calc(var(--s) * 4) var(--safe-area, 15px) calc(var(--s) * 13);
    pointer-events: none;

    // @include mq-xs {
    //     @media (orientation: landscape) {
    //         padding-bottom: calc(var(--s) * 7);
    //     }
    //     @media (orientation: portrait) {
    //         padding-bottom: calc(var(--s) * 22);
    //     }
    // }

    // @include mq-md {
    //     padding-bottom: calc(var(--s) * 15);
    // }
    // @include mq-lg {
    //     display: none; 
    // }

    &--open {
        transform: translateX(0);
        opacity: 1;
        pointer-events: all;

        .header__logotype img {
            filter: none;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__email {
        grid-area: email;
        align-self: center;
        a {
            @include f('xxs', 400, true);
            color: var(--color-primary-contrast);
            transition: opacity .2s ease-in-out;
            @include mq-sm {
                @include f('base', 400, true);
            }

            &:hover,
            &:focus-visible
            &:active {
                opacity: .6;
            }
        }
    }

    &__social {
        grid-area: rrss;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: calc(var(--s) * 2.1);
        column-gap: var(--s7);
        margin-top: auto;
        @include mq-xs {
            @media (orientation: landscape) {
                flex-direction: row;
            }
        }
        @include mq-sm {
            @media (orientation: landscape) {
                flex-direction: row;
            }
            @media (orientation: portrait) {
                flex-direction: column;
            }
        }
        @include mq-md {
            flex-direction: column;
        }

        .button--link {
            span:after {
                background-color: var(--color-primary-contrast);
            }
            .icon--arrow {
                --new-color: var(--color-primary-contrast);
            }
        }
        
        span {
            @include f('sm', 300, true);
            letter-spacing: calc(var(--s) * -.1);
            font-family: var(--font-primary);
            color: var(--color-text-contrast);
        }
    }

    .button-side-menu-close {
        --width: var(--s5);
        --height: var(--s5);
        --color: var(--color-primary-contrast);
        align-self: flex-end;
        cursor: pointer;
        transition: opacity .2s ease-in-out;
        &:hover,
        &:focus-visible
        &:active {
            opacity: .7;
        }
    }

    .side-menu__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        gap: calc(var(--s2)*6);
    }

    .side-menu__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        // @include mq-xs {
        //     flex: 0 0 42%;
        // }
        // @include mq-sm {
        //     flex: 0 0 45%;
        // }

        li {
            text-align: center;

            &+li {
                margin-top: calc(var(--s) * 4);
                @include mq-md {
                    margin-top: calc(var(--s) * 7);
                }
            }
        }

        a {
            @include f('menu-mobile', 400, true);
            text-transform: uppercase;
            font-family: var(--font-primary);
            color: var(--color-text-contrast);
            transition: opacity .2s ease-in-out;
            &:hover,
            &:focus-visible,
            &:active {
                opacity: .6;
            }
        }
    }

    .side-menu__contact, 
    .side-menu__email, 
    .side-menu__social{
        .button {
            text-transform: uppercase;
            align-self: flex-start;
        }
    }

    // .side-menu__bottom {
    //     flex: 1; 
    //     text-align: center;
    //     height: 100%;
    //     display: grid;
    //     grid-template-columns: 1fr;
    //     grid-template-areas: 
    //     "btn"
    //     "email"
    //     "rrss" ;
    //     justify-items: center;
    //     align-items: center;
    //     justify-content: space-between;
    //     //row-gap: calc(var(--s) * 9);
    //     @include mq-xs {
    //         @media (orientation: landscape) {
    //             align-items: start;
    //             row-gap: calc(var(--s) * 4);
    //         }
    //     }

    //     @include mq-md {
    //         padding-left: calc(var(--s) * 10);
    //         padding-right: calc(var(--s) * 10);
    //     }
    //     .button {
    //         grid-area: btn;
    //         text-transform: uppercase;
    //         align-self: flex-start;
    //     }
    // }
}