@use 'dawuti' as *;



.page__home {

  .heading {
    &--primary {
      @include f('hg', 600, true);
    }
    &--secondary {
      @include f('hg', 400, true);
      letter-spacing: -.06em;
    }
  }
}
.page__estudio {
  .heading {
    &--primary {
      @include f('heading-lg', 400, true);
    }
    &--secondary{
      @include f('heading-lg', 400, true);
      font-family: var(--font-secondary);
      letter-spacing: -.04em;
    }
  }
}

.page__home,
.page__estudio {
  .heading--primary {
    letter-spacing: -.06em;
  }
}

.heading {
  --padding: 0;
  --margin: 0;
  --text-transform: none;
  padding: var(--padding);
  margin: var(--margin);
  
  &--primary {
    letter-spacing: -.06em;
  }

  span {
    display: block;
  }

  &--base {
    @include f('base', 400, true);
  }

  &--sm {
    @include f('project-title', 400, true);
  }

  &--md {
    @include f('md', 400, true);
  }
  &--lg {
    @include f('lg', 400, true);
  }

  &--xl {
    @include f('xl', 700, true);
    letter-spacing: -.07em;
  }
  &--xxl {
    @include f('xxl', 300, true);
  }
  &--big {
    @include f('heading-lg', 400, true);
  }

  &--hg {
    @include f('hg', 300, true);
  }

  &--primary{
    font-family: var(--font-primary);
  }

  &--secondary{
    font-family: var(--font-secondary);
  }

  &--dark{
    color: var(--color-dark);
  }

  &--light{
    color: var(--color-light);
  }
}