@use "dawuti" as *;

.collapse {
  --exp-height: 0;

  &__header{
    @include f('lg', 300);
  }

  &__heading{
    cursor: pointer;
    display: flex;
    flex: 1;
  }

  &__content {
    overflow: hidden;
    height: var(--exp-height);
  }
}
