@use "dawuti" as *;

.lara-cursor{
  display: none;
  pointer-events: none;
  @include mq-lg {
    display: block;
    position: fixed;
    z-index: 30;
    opacity: 0;
    transition: transform linear;
    mix-blend-mode: difference;
    &.not-allowed{
        filter:grayscale(1);
    }
  }
}