//@import '@lara/theme/mixins';
@use "dawuti" as *;

.lara-cursor{
  position: fixed;
  z-index: 30;
  pointer-events: none;
  display: none;
  transition: transform linear;
  mix-blend-mode: difference;

  @include mq(768px) {
    display: block;
    opacity: 0;
    &.not-allowed{
        filter:grayscale(1);
    }
  }
}