@use 'dawuti' as *;

.back-to-top {
  position: fixed;
  bottom: var(--s7);
  right: calc(var(--safe-area) + calc(var(--s) * 1));
  width: calc(var(--s) * 10);
  height: auto;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  var(--color-light);
  border-radius: 100%;
  z-index: 999;
  box-shadow: 0 calc(var(--s) * 1) calc(var(--s) * .8) rgba(0, 0, 0, .2);
  transition: box-shadow .25s ease-in-out;
  cursor: pointer;
  @include mq-sm {
    width: calc(var(--s) * 13);
  }

  &:hover,
  &:focus-visible {
    box-shadow: 0 calc(var(--s) * 1.6) calc(var(--s) * 2) rgba(0, 0, 0, 0.5);
    .back-to-top__arrow {
      animation: bounce 0.5s ease infinite alternate;
      margin-top: calc(var(--s) * -1);
    }
  }

  &__arrow {
    transition: all .2s ease-in-out;
    width: calc(var(--s) * 9);
    --color: var(--color-dark);
    @include mq-sm {
      width: calc(var(--s) * 11);
    }
  }
}

