---
import type { RSModel } from "@lara/models/generic.model";
import localImage from "../assets/icons/lara-gonzalez-dark.svg";
import { Image } from "astro:assets";
import arrow from "../assets/icons/arrow.svg";

// const d = new Date();
// let currentYear = d.getFullYear();

const { rrss } = Astro.props;
---

<footer class="footer wrapper-fluid">
  <Image
    class="footer__logo"
    src={localImage}
    alt="Lara González estudio logo"
  />
  <div class="footer__content">
    <section class="footer__legal">
      <nav>
        <ul>
          <li>
            <a class="button--link-footer" href="/aviso-legal">Aviso Legal</a>
          </li>
          <li>
            <a class="button--link-footer" href="/politica-cookies">Política de cookies</a>
          </li>
          <li>
            <a class="button--link-footer" href="/politica-privacidad">Política de Privacidad</a>
          </li>
        </ul>
      </nav>
    </section>

    {
      rrss && (
        <section class="footer__rrss">
          <ul>
            {rrss.map((rs: RSModel) => {
              return (
                <li>
                  <a class="button--link" href={rs.url} target="_blank">
                    {rs.platform}
                    <img src={arrow.src} width={16} height={24} />
                  </a>
                </li>
              );
            })}
          </ul>
        </section>
      )
    }
  </div>
</footer>

<style lang="scss">
  @use "dawuti" as *;
  .footer {
    background-color: var(--color-light);
    padding-top: var(--s6);
    padding-bottom: var(--s8);

    &__content{
      display: flex;
      justify-content: space-between;
      margin-top: calc(var(--s2)*9);
      ul{
        display: flex;
        flex-direction: row;
        gap: var(--s4);
      }
    }

    &__rrss {
      li{
        text-transform: uppercase;
        a{
          display: flex;
          align-items: center;
          gap: var(--s);
        }
      }

    }

    &__legal {


    }

  }
</style>
