---
import type { RSModel } from "@lara/models/generic.model";
import { Image } from "astro:assets";
import Icon from '../components/shared/Icon';

// const d = new Date();
// let currentYear = d.getFullYear();

const { rrss, footerClass } = Astro.props;
---

<footer class=`footer wrapper-fluid ${footerClass}`>
  <img
    class="footer__logo"
    src="/static-icons/lara-gonzalez-dark.svg"
    alt="Lara González estudio logo"
  />
  <div class="footer__content">
    {
      rrss && (
        <section class="footer__rrss">
          <ul>
            {rrss.map((rs: RSModel) => {
              return (
                <li>
                  <a class="button button--link" href={rs.url} target="_blank">
                    <span>{rs.platform}</span>
                    <Icon classes="icon--arrow" url="/static-icons/arrow.svg" />
                  </a>
                </li>
              );
            })}
          </ul>
        </section>
      )
    }

    <nav class="footer__legal">
      <ul>
        <li>
          <a class="button button--link-footer" href="/aviso-legal">Aviso Legal</a>
        </li>
        <li>
          <a class="button button--link-footer" href="/politica-cookies">Política de cookies</a>
        </li>
        <li>
          <a class="button button--link-footer" href="/politica-privacidad">Política de Privacidad</a>
        </li>
      </ul>
    </div>

  </div>
</footer>

<style lang="scss">
  @use "dawuti" as *;
  .footer {
    background-color: var(--color-light);
    padding-top: calc(var(--s) * 16);
    padding-bottom: var(--s7);
    background-color: var(--color-light);
    @include mq-lg {
      padding-top: calc(var(--s) * 21);
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include mq-xs {
        flex-direction: row;
        align-items: flex-end;
      }
      @include mq-sm {
        align-items: center;
      }
      ul {
        display: flex;
        flex-direction: row;
      }
    }

    &__rrss {
      @include mq-xs {
        order: 1;
      }
      ul {
        display: flex;
        flex-direction: column;
        row-gap: calc(var(--s) * 2.3);
        @include mq-xs {
          column-gap: calc(var(--s) * 3.3);
          flex-direction: row;
        }
      }
      li {
        text-transform: uppercase;
        a {
          @include f('rrss', 300, true);
          display: flex;
          align-items: center;
          gap: var(--s);
        }
      }

    }

    &__legal {
      margin-top: var(--s8);
      @include mq-xs {
        margin-top: 0;
      }
      ul {
        display: flex;
        flex-direction: column;
        @include mq-sm {
          flex-direction: row;
          align-items: center;
          column-gap: calc(var(--s) * 3);
        }
      }

      li + li {
        margin-top: calc(var(--s) * 1.6);
        @include mq-sm {
          margin-top: 0;
        }
      }
      a {
        @include f('xs', 300, true);
        transition: opacity .25s ease-in-out;
        &:hover {
          opacity: .7;
        }
      }
    }
    
    &__logo {
      width: 100%;
      height: auto;
      margin-bottom: var(--s8);
      @include mq-sm {
        margin-bottom: calc(var(--s) * 11)
      }
      @include mq-lg {
        margin-bottom: calc(var(--s) * 14);
      }
    }
    &-404 {
      padding-top: 0;
      @include mq-xs {
        padding-top: calc(var(--s) * 16);
      }
      @include mq-sm {
        padding-top: 0;
      }
      @include mq-lg {
        padding-top: calc(var(--s) * 16);
      }
    }
  }
</style>
