@use "dawuti" as *;

header {
    .button-side-menu-open {
        --width: var(--s5);
        --height: var(--s5);
        --color: var(--color-primary-contrast);
        margin-left: auto;
        cursor: pointer;
        transition: opacity .2s ease-in-out;
        @include mq-lg {
            display: none;
        }
        &:hover,
        &:focus-visible
        &:active {
            opacity: .4;
        }

        &[aria-expanded="false"] + .side-menu {
            display: none;

            &--open {
                transform: translate(0dvw); 
            }
        }

        &[aria-expanded="true"] + .side-menu {
            display: block;

            &--open {
                transform: translate(0dvw); 
            }
        }

    }

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: var(--s9);
    padding-top: var(--s4);
    padding-bottom: var(--s8);
    @include mq-lg{
        padding-top: calc(var(--s) * 2.4);
    }


    &__logotype {
        &--xs {
            display: block;
            @include mq-lg{
                display: none;
            }
        }
        img {
            width: 43.8vw;
            padding: calc(var(--s) * 1) calc(var(--s) * .2);
            height: auto;
            shape-rendering: geometricprecision;
            @include mq-xs {
                width: 28.2vw;
            }
            @include mq-sm {
                width: 21vw;
            }
            @include mq-lg {
                width: 13.2vw;
            }
        }
    }

    &__dark-mode {
        --mode-color: var(--color-light);
    }
 
    &__light-mode {
        --mode-color: var(--color-dark);
        .header__logotype img,
        .button-side-menu-open {
            filter: invert(1);
        }
    }

    &__main-nav {
        display: none;
        @include mq-lg {
            display: flex;
            justify-content: space-between;
            flex-basis: 100%;
            align-items: center;
        }
        > a {
            @include f('xs', 400, true);
            text-transform: uppercase;
        }

        &--item {
            padding: calc(var(--s)* 1.6) calc(var(--s)* 3.2);
            padding: 0;
            color: var(--mode-color);
            position: relative;
            overflow: hidden;
        }

        .button--regular {
            padding: calc(var(--s)* 1.6) calc(var(--s) * 3.2);
        }
    }


}
