@use 'dawuti' as *;


.projects__items {
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--s) * 11);
    @include mq-md {
        row-gap: calc(var(--s) * 10);
        margin-top: calc(var(--s) * 13);
    }
    @include mq-lg {
        margin-top: calc(var(--s) * 20);
    }
    @include mq-xl {
        row-gap: calc(var(--s) * 21);
    }

    .image-wrapper img {
        aspect-ratio: 16 / 9;
    }

}
.projects__item {
    &__heading-detail{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: calc(var(--s) * 5);
        column-gap: var(--s6);
        row-gap: var(--s2);
        > * {
            @include f('sec-md', 400, true);
        }
        @include mq-md {
            margin-bottom: 0;
            column-gap: var(--s6);
        }
        @include mq-lg {
            column-gap: calc(var(--s) * 14);
        }
    }
    .heading {
        font-weight: 600;
        text-transform: uppercase;
    }
}
